body {
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Add the animation: property to whichever element you want to animate */
#animacionFlecha {
  animation: yourAnimation 1.5s linear 0s infinite normal none;
}

@keyframes yourAnimation {
  0.0% {
    transform: translate(0);
  }
  100% {
    transform: translate(0px, 0px);
  }
  50.0% {
    transform: translate(0px, 50%);
  }
}
.particulas {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 0 !important;
}

.imagen-tecnologias {
  width: 32px !important;
}
@media (min-width: 640px) {
  .imagen-tecnologias {
    width: 52px !important;
  }
}
@media (max-width: 670px) {
  .diplomas {
    max-width: 360px !important;
  }
  * {
    overflow-x: hidden;
  }
}

.diplomas {
  height: 280px !important;
  min-width: 360px !important;
}

.zman {
  z-index: 99 !important;
}

/* Imagen principal del hero */

.artist-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1rem auto;
  max-width: 40rem;
  margin: auto;
  position: relative;
}

.artist-card__img {
  max-width: 100%;
  display: block;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  align-self: center;
}

@supports (clip-path: circle(25%)) {
  .artist-card {
    clip-path: circle(0%);
    animation: circle-grow 2000ms 450ms forwards;
  }
  .artist-card:hover .artist-card__img {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
  }

  .artist-card__img {
    clip-path: polygon(
      18.11% 16.5%,
      50% 0%,
      75% 50%,
      54.09% 90.44%,
      13.7% 63.94%
    );
    transition: clip-path 400ms ease-in-out;
  }
}
@keyframes circle-grow {
  to {
    clip-path: circle(100%);
  }
}
@keyframes heading-in {
  to {
    clip-path: inset(0% 0%);
  }
}
@supports (mix-blend-mode: darken) {
  .artist-card:hover::after {
    clip-path: circle(100%);
  }

  .artist-card__img {
    mix-blend-mode: multiply;
  }
}

.gh {
  min-height: 70vh !important;
}

.imagencard {
  max-height: 350px !important;
  overflow: hidden;
}

.spinner {
  width: 70px;
  height: 70px;

  position: relative;
  margin: 100px auto;
}
.loading {
  min-height: 100vh !important;
  min-width: 100% !important;
  overflow: hidden;
  background-color: #3e92cc;
  display: flex;
  align-items: center;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #d8315b;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
